.hamburger {
    display: none; /* Hide hamburger icon on larger screens */
  }

nav {
    display: flex;
    justify-content: space-around;
    margin-left: auto;
}
nav ul {
    list-style: none;
    display: flex;
  }
  
nav li {
    padding: 10px;
  }
header{
    display: flex;
}