nav {
    display: none;
    justify-content: space-around;
    background-color: #154c49;
  }
nav ul {
    list-style: none;
  }
  
nav a {
    color: white;
    text-decoration: none;
  }
nav a:hover{
    background-color: #DCE2E2;
    color: #154c49;
    font-weight: bold;
    padding: 0 40px;
}

/* Style the hamburger icon */
.hamburger {
    font-size: 30px;
    padding: 10px;
    cursor: pointer;
    display: block; /* Show hamburger icon on mobile */
    position: absolute;
    top: 15px;
    right: 15px;
  }


  /* Toggle visibility when the menu is active */
  nav.active {
    display: flex; /* Show navigation when active */
  }