@media screen and (min-width: 500px){
    .hamburger {
        display: none; /* Hide hamburger icon on larger screens */
    }

    nav {
        display: flex;
        justify-content: space-around;
        margin-left: auto;
    }
    nav ul {
        list-style: none;
        display: flex;
    }
    
    nav li {
        padding: 30px;
    }
    header{
        display: flex;
    }
    section{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    section p{
        grid-column: 1 / span 3;
    }
    section img{
        grid-column: 3;
    }
}