:root{
    --primary-color: #F0E6D2;
    --accent-color-1: #006400;
    --accent-color-2:#FFFAF0;

}
body {
    font-family: 'Roboto';
    font-weight: 400;
    color: black;
}
header, main, footer{
    max-width: 800px;
    margin: 1rem auto;
    border: 1px solid #006400;
    padding: 1rem;
    background-color:#F0E6D2;
}
header, footer{
    background-color: var(--accent-color-1);
}
h1{
    color: var(--accent-color-2);
    text-align: center;
}
h2{
    color: var(--accent-color-1);
}
nav {
    display: none;
    justify-content: space-around;
    background-color: #006400;
  }
nav ul {
    list-style: none;
  }
  
nav a {
    color: #FFFAF0;
    text-decoration: none;
    font-weight: 400;
  }
nav a:hover{
    background-color: #DCE2E2;
    color: #154c49;
    font-weight: bold;
    padding: 0 40px;
}

/* Style the hamburger icon */
.hamburger {
    font-size: 30px;
    padding: 10px;
    cursor: pointer;
    display: block; /* Show hamburger icon on mobile */
    position: absolute;
    top: 15px;
    right: 15px;
  }


  /* Toggle visibility when the menu is active */
  nav.active {
    display: flex; /* Show navigation when active */
  }
  a{
    text-decoration: none;
    color: var(--accent-color-1);
  }