body {
    font-family: "Parkinsans", sans-serif;
    font-weight: 400;
    text-align: center;
}
header, main, footer{
    margin: 0 auto;
    max-width: 800px;
    
}
header, footer{
    background-color: rgb(21, 76, 73);
    color: white;
}
nav ul{
    display: flex;
}
main{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}
