@media screen and (min-width: 500px){
    *{
        max-width: 1500px;
    }
    h2{
        background-color: var(--accent3-color);
        padding: 10px;
    }
    #svgimg{
        display: none;
    }
    #weather::after{
        content: " 🌥️";
    }
    #sectiondata{
        top:0;
        left: 0;
        z-index: 2;
    }
    #sectionweather{
        bottom: 0;
        right: 0;
        z-index: 9;
    }
    table{
        display: flex;
        justify-content: center;
    }
    picture{
        position: relative;
    }
    section{
        background-color: var(--section-background);
        position: absolute;
        
    }
}