@media screen and (min-width: 500px){
    *{
        max-width: 1500px;
    }
    h2{
        background-color: var(--accent3-color);
        padding: 10px;
    }
    #svgimg{
        display: none;
    }
    #weather::after{
        content: " 🌥️";
    }
    #sectiondata{
        
        top:15%;
        left: 5%;
        z-index: 2;
    }
    #sectionweather{
        bottom: 40%;
        right: 5%;
        z-index: 9;
    }
    table{
        display: flex;
        justify-content: center;
    }
    picture{
        position: relative;
    }
    section{
        background-color: var(--section-background);
        position: absolute;
        
    }
    section h2{
        width: 80%;
    }
}