:root {
    --primary-color: #071d49;
    --accent1-color: #FFFFFF;
    --accent2-color: #AA0200;
    --accent3-color: #FFB81D;


    --overal-background-color: #FFFFFF;
    --font-color-with-primary: #FFFFFF;
    --section-background: rgb(255, 255, 255, 0.8);
}
*{
    font-family: "Nunito Sans", sans-serif;
}
.hero img{
    width: 100%;
    height: auto;
}
header, footer, h1, h2{
    text-align: center;
}
header{
    background-color: var(--accent2-color);
    color: var(--font-color-with-primary);
    padding-bottom: 1px;
}
table{
    width: 50%;
    margin: 20px auto;
}
td:nth-child(1){
    padding-right: 10px;
    font-weight: bold;
    text-align: right;
}
td:nth-child(2){
    text-align: left;
}
picture{
    background-color: var(--accent2-color);
    padding-bottom: 10px;
}
footer{
    background-color: var(--primary-color);
    color: var(--font-color-with-primary);
}
#svgimg{
    width: 70px;
    height: auto;
    margin: 0 auto;
}
h1{
    background-color: var(--primary-color);
    padding: 10px;
}


