body {
    font-family: "Roboto, serif";
    color: #50093d;
    text-align: center;
}

div {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
    background-color: #e6d3d3;
}
p {
    font-size: 1.5em;
    margin-top: 20px;
}